.thanks-bg {
    background-color: var(--color-primary);
    height: 100vh;
    overflow: hidden;
    background-image: url(https://res.cloudinary.com/dcvnw6hvt/image/upload/v1626381200/voga/kooky/bg-kooky_joixgv.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.pink-text {
    color: var(--color-contrast);
    font-weight: bold;
}

.thanks-msg {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 3em;
    /* position: absolute; */
    /* bottom: 65px; */
    /* font-size: 1.95em; */
}

.video-box {
    margin-top: 1em;
}

@media only screen and (max-width: 767px) {
    .thanks-bg {
        /* The file size of this background image is 93% smaller
  to improve page load speed on mobile internet connections */
        background-image: url(https://res.cloudinary.com/dcvnw6hvt/image/upload/v1626381200/voga/kooky/bg-kooky_joixgv.jpg);
    }
    .name-brand img {
        /* border: 1px solid red; */
        /* position: "absolute"; */
        /* top: 233px; */
        max-width: 180px;
        /* right: 3px; */
    }
    .thanks-msg {
        color: white;
        text-align: center;
        text-transform: uppercase;
        margin-top: 3em;
        /* position: absolute; */
        /* bottom: 65px; */
        font-size: 1.09em;
    }
    .video-box {
        margin-top: 3em;
    }
}


/* .video-box {
    margin-top: 13em;
} */

@media only screen and (min-width: 740px) and(max-width: 900px) {
    .thanks-msg {
        text-align: center;
        text-transform: uppercase;
        /* position: absolute; */
        /* bottom: 65px; */
        font-size: 0.15em;
    }
    .video-box {
        margin-top: 3em;
        /* position: fixed; */
        /* top: 50%; */
        /* left: 50%; */
        /* transform: translate(-50%, -50%); */
    }
    .name-brand img {
        /* border: 1px solid red; */
        /* position: "absolute"; */
        /* top: 233px; */
        max-width: 80px;
        /* right: 3px; */
    }
}

.fade-in-left {
    -webkit-animation: fade-in-left 0.146s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-left 0.146s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}